out/*
!out/32bdecode_temp.hex

fpga/*/*
!fpga/*/Makefile
!fpga/*/*.qsf
!fpga/*/*.qpf
!fpga/*/*.sdc
!fpga/*/*.qip
!fpga/*/*.sip
!fpga/*/*.v

tb/*/*
!tb/*/*.v
!tb/*/*.sv
!tb/*/wave.do

transcript

__pycache__/
*.py[cod]
